body {
    font-family: Arial, sans-serif;
    background-color: #eaf7ff;
    padding: 30px;
}

h1, body > h3 {
    color: #0288d1;
    text-align: center;
}

/* Har post ka separate card */
.post {
    background-color: #ffffff;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;

    /* Shadow */
    box-shadow: 0 5px 15px rgba(0, 150, 220, 0.25);

    border-left: 5px solid #29b6f6;
}

/* Username */
.user {
    color: #0277bd;
    margin-bottom: 10px;
}

/* Post content */
.content {
    color: #455a64;
    font-weight: normal;
    line-height: 1.5;
}
.create-post {
    display: block;
    width: fit-content;
  margin: -10px auto 20px;
    
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    
}

.create-post:hover {
    background-color: darkblue;
}
.heading{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
   
}
.detail-btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;

    color: #1877f2;
    border: 2px solid #1877f2;
    border-radius: 6px;

    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.detail-btn:hover {
    background-color: #1877f2;
    color: white;
}
.post {
    position: relative;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    border-left: 5px solid #1877f2;
    box-shadow: -5px 5px 15px rgba(24, 119, 242, 0.3);
}

.detail-btn {
    display: inline-block;
    padding: 8px 16px;
    color: #1877f2;
    border: 2px solid #1877f2;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.detail-btn:hover {
    background-color: #1877f2;
    color: white;
}

.detail-edit {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    padding: 7px 15px;
    color: #1877f2;
    border: 2px solid #1877f2;
    border-radius: 6px;

    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.detail-edit:hover {
    background-color: #1877f2;
    color: white;
}
form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #0056b3;
}